<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloBean" class="org.sarba.spring.bean.HelloBean" >
        <property name="name" value="property" />
    </bean>

    <bean id="exampleBean" class="org.sarba.spring.bean.ExampleBean">
        <constructor-arg value="example"  />
    </bean>

    <bean id="staticFactoryBean" class="org.sarba.spring.bean.StaticFactoryBean" factory-method="createBean" >
        <constructor-arg value="static bean" />
    </bean>

</beans>